body {
  font-family: sans-serif;
}

div {
  margin: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container input, select, button {
  width: 230px;
  height: 50px;
  font-size: 18px;
}

input[type="radio"] {
  height: 16px;
  width: auto;
}