<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(not)Reversi(2)</title>
  </head>
  <body>
    <input id="name" placeholder="username">
    <button id="createRoom">Create room</button>
    <button id="refreshRoom">Refresh</button>
    <div id="roomList"></div>

    <script src="../socket.io/socket.io.js"></script>
    <script src="./index.js"></script>
  </body>
</html>